.rootRow{
    background-image: linear-gradient(to bottom ,#3c93be ,#00405a );
    position: fixed;
    width: 100%;
  }
  
  .innerRow{
    background-image: linear-gradient(to bottom, #003f58 ,#004d73);
    
  }